.delete_icon {
	color:#146A84;
}
.side-nav .left {
    word-break: break-all;
}
.blue-folder {
    color: #008CBA;
}
.gray-spin {
    color: #6e6e6e;
}
.vertical-border {
    border-right: thick solid #E4E2E2;
}
.active-li {
    background-color: gainsboro;
}
.yellow-folder {
    color: #F0CA80;
}
.green-file {
    color: #35a335;
}
.scroll-list {
    height: 350px;
    overflow: auto;
    margin-top: 10px;
}
.green-info {
    color: #8FC067;
}
.info-text {
    padding: 3px;
    font-size: small;
    background: #DCEFCE;
}
.blue-bar {
    background: #146A84;
}
.backup-box {
    border: 1px dotted #6e6e6e;
    width: 180px;
    height: 170px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}
