.delete_icon {
	color:#E10D0D;
}
.side-nav .left {
    word-break: break-all;
}
.blue-folder {
    color: #008CBA;
}
.gray-spin {
    color: #6e6e6e;
}
.vertical-border {
    border-right: thick solid #E4E2E2;
}
.active-li {
    background-color: gainsboro;
}
.yellow-folder {
    color: #F0CA80;
}
.green-file {
    color: #35a335;
}
.scroll-list {
    height: 350px;
    overflow: auto;
    margin-top: 10px;
}
